<div class="container-fluid">
<div class="navbar-header">
 
	<a href="/" class="navbar-brand">Buggy</a>
</div>

<ul class="nav navbar-nav navbar-right">
		<li><a href="/#projects">Projects</a></li>
	</ul>

</div>